/* General Styling */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  /* display: flex; */
  padding: 175px;
  text-align: center;
  background: #ffffff;
  justify-content: center;
  font-size: 20px;
}

.head{
  background: #ffffff;
}
.display-4{
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 90px;
}

h1{
  margin: 50px auto 0 auto;
  font-family:'Montserrat', sans-serif;
  font-size: 90px;
  color: #000000;  
}

h2{
  font-size: 30px;
  font-family:'Montserrat', sans-serif;
}

/* .nav { */
  /* display: flex; */
  /* flex-direction: column; */
  /* background-color: #ffffff; */
/* } */

/* Modify the appearance of the links in nav bar */
a {
  color: #13293d;
  font-size: 20px;
  text-decoration: none;

}

.nav-link {
  color: #13293d;
  font-size: 20px;
  padding: 14px 20px;
  text-decoration: none;
  margin: auto 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

/* About Me section properties  */
#aboutme{
  background-color: #fcfcfc;
  padding: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* Settings up the profile picture to be round and centered */
#profile-img{
  border-radius: 50%;
  width: 75px;
  margin-top: 25px;
  justify-content: center;
}

/* Settings up the profile description to be centered and spaced properly*/
.profile-desc{
  width: 100%;
  text-align: center;
  padding: 30px 100px;
}

/* Properties fo Work section */
#work {
  background-color: rgba(212, 200, 200, 0.863);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

/* Modify the Work header */
#work h2{
  width: 100%;
  text-align: center;
}

/* Properties for the project cards inside the Work section */
.project {
  border-style: solid;
  border-width: 5px;
  border-color: #e4f8f5;
  padding: 10px;
  flex: 0 1 600px;
  margin: 10px;
  height: 500px;
}

.project.other{
  height: 400px;
}
.project.other img{
  width: 100%;
  height: 80%;
}

/* .project img {
  width: 100%;
  height: 100%;
} */

.project header {
  padding: 20px;
  background-color: #fcfcfc;
  font-weight: bold;
}

.project p {
  text-align: center;
}

/* Settings up the project initial card to be growable, shrinkable, and with an initial length of 1000px  */
.project.initial{
  flex: 2 1 1000px;
}

/* Modify the height of the image in the project initial */
.project.initial img{
  width: 100%;
  height: 85%;
}

/* Get in touch footer */
#contact {
  justify-content: center;
  padding: 20px;
  text-align: center;
  background: #606c77;
  color: rgb(255, 244, 244);
  text-align: center;
}

/* Modify the links in footer */
.footer-link{
  margin: auto 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #EAF6F6;
}

/* Contact Me button properties */
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: #bdbdbd;
  width:200px;
  height:20px;  
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: rgb(255, 244, 244);
  text-decoration: none;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #e2e5e5, #788181);
  background-image: -moz-linear-gradient(top, #e2e5e5, #788181);
  background-image: -ms-linear-gradient(top, #e2e5e5, #788181);
  background-image: -o-linear-gradient(top, #e2e5e5, #788181);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

/* Contact Me button pseudoclass, when Contact Me button is hovered over, 
the button will be more rounded and change color gradient */
.btn:hover {
  border: solid #0059A0 1px;
  background: #afada7;
  background-image: -webkit-linear-gradient(top, #afada7, #f5dbc5);
  background-image: -moz-linear-gradient(top, #afada7, #f5dbc5);
  background-image: -ms-linear-gradient(top, #afada7, #f5dbc5);
  background-image: -o-linear-gradient(top, #afada7, #f5dbc5);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

/* Large smartphones - navbar is wrapped in column */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
}


